.frameadd{
    border: solid 6px black;
    width: 500px;
    padding: 20px;
    margin-top: 5px;
    margin-left: 2px;

}

.inputbox1{
    border: groove 2px gray;
    background-color: lightgray;
}

.inputbox2{
    border: groove 2px gray;
    background-color: lightgray;
    height: 100px;
    width: 100%;
}

.firstdiv{
    top: 68px;
    position: fixed;
    left: 1401px;
}

/* jiro add */ 

.form-popup {
    display: none;
    position: fixed;
    left:15%;
    font-size: x-small;
    border: 2px solid #000000
}

.form-container{
  width: fit-content;
  height: fit-content;
  border-style: double;
  background-color: white;
}
.title{
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-style: groove;
  margin: 10px;
  font-size: xx-large;
}
.barEl{
  width: 900px;
  outline: none;
  padding-bottom: 20%;
  margin: 10px;
  margin-top: 0px;
  border-style: groove;
  font-size: large;
  white-space: nowrap;
  overflow-wrap: break-word;
}
.barCss{
  user-select: text;
  margin: 10px;
  margin-top: 0px;
}

.closingBar{
  opacity: 0;
}

.button{
  text-align: center;
  font-size: medium;
}
.topic{
  text-align: center;
  font-size: medium;
  border: solid 1px black;
  padding: 5px;
  position: fixed;
  left: 70%;
}
.menu{
  font-size: medium;
  position: relative;
}
.bar{
  text-align: center;
  border: groove 1px black;
  padding-left: 67.6px;
  padding-right: 67.6px;
}